.container {
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
}
.content {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top: 50px;
    box-shadow: 5px 8px 20px 6px;
    width:1000px;
    height:200px;
}

.TextFieldStyle  {
    margin:0;
}

